  /*
  <------- INICIA CSS DE TOOLBAR ------->
  */
  .toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background: transparent;
    color: black;
    font-weight: 600;
    z-index: 1000;
    backdrop-filter: blur(25px);
  }
  
  .toolbar img {
    margin: 0 16px;
  }

  .toolbar#options{
    display: inline-block;
    border: 2px solid red;
    margin: 4px;
  }

  .spacer {
    flex: 1;
  }

  .toolbar button{
    margin: 10px;
  }

  /*
  <------- TERMINA CSS DE TOOLBAR ------->
  */