<div>
  <div
    class="about"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10%"
    fxLayoutAlign="center center"
  >
    <div *ngIf="images && images.length > 0" class="carousel">
      <img
        (click)="changeImageOnClick()"
        *ngFor="let image of images; let i = index"
        [src]="image.imageSrc"
        [alt]="image.imageAlt"
        [ngClass]="{ 'image-active': selectedIndex === i }"
        class="fade"
      />
      <div *ngIf="indicators" class="dot-container">
        <span
          *ngFor="let dot of images; let i = index"
          class="dot"
          [ngClass]="{ active: selectedIndex === i }"
          (click)="selectImage(i)"
        >
        </span>
      </div>
    </div>
    <div class="about-text">
      <h1 id="top">ABOUT ME</h1>
      <p>
        Hi! My name is Bastian Prado, I am a 20 year old software
        engineering student. I am studying at CETYS Universidad Ensenada
        currently finishing my 3rd year. I was born in Mexico City and lived there
        until the age of 16. When I turned 16, my family and I moved to
        Ensenada, Baja California; a small, but beautiful, city 80 miles south
        from San Diego. In addition to my interest in computer related topics,
        I really like learning new languages. As of today, I am fluent (and I would say native)
        in Spanish and English, I know the basics of German, which is a language that I really like and
        my intention is to reach a fluent level in this, and also I am starting to learn French. 
        
      </p>
    </div>
  </div>
</div>
